menu "Anthracide IR Decoder"
    config RMT_RX_GPIO
        int "RMT RX GPIO"
        default 11
        help
            Set the GPIO number used for receiving the RMT signal.

    config RMT_RX_CHANNEL
        int "RMT RX Channel Number"
        default 4 if IDF_TARGET_ESP32S3
        default 2
        help
            Set the RMT RX channel number.



menu "Anthracide IR Remote codes"
    config IR_REMOTE_ADDRESS
        hex "Address of the remote transmitter"
        default 0xff00
        help
            IR transmitter identification.

    config IR_REMOTE_VOLUME_UP
        hex "Volum up key code"
        default 0xfa05
        help
            Identification of the volume up key.

    config IR_REMOTE_VOLUME_DOWN
        hex "Volum down key code"
        default 0xf807
        help
            Identification of the volume down key.
        
    config IR_REMOTE_MUTE
        hex "Mute key code"
        default 0xfc03
        help
            Identification of the mute key.
endmenu
endmenu
