menu "Anthracide I2C Configuration"
    config I2C_NUM
        int "Number of i2c peripheral interface"
        default 0
        help
            The number of i2c peripheral interface of the Chip
                
    config I2C_SCL
        int "SCL GPIO Num"
        default 5
        help
            GPIO number for Anthracide I2C Master clock line.
        
    config I2C_SDA
        int "SDA GPIO Num"
        default 4
        help
            GPIO number for Anthracide I2C Master data line.
        
    config I2C_FREQ_HZ
        int "I2C Frequency"
        default 400000
        help
            The I2C Frequenz

endmenu    